@mixin btn-mixin($id, $id-outline, $id-link, $layout, $sizes, $defaults) {
    /*default button*/
    .#{$id} {
      border-radius: map-get($defaults, radius);
      cursor: map-get($defaults, cursor);
      white-space: map-get($defaults, ws);
      display: map-get($defaults, display);
      font-size: map-get($defaults, fs);
      line-height: map-get($defaults, lh);
      padding: map-get($defaults, pad);
      
      &.disabled,
      &:disabled {
        opacity: .5;
        pointer-events: none;
      }
    }
  
    /*standard buttons*/
    @each $section, $map in $layout {
      $name: #{$id}-#{$section};
      .#{$name} {
        color: map-get($map, color);
        background: map-get($map, bg);
        border: 1px solid darken(map-get($map, bg), 10%);
  
        &:hover,
        &:focus {
          background: darken(map-get($map, bg), 10%);
        }
        
        &.disabled,
        &:disabled {
          opacity: .5;
          pointer-events: none;
        }
      }
    }
  
    /*outline buttons*/
    @each $section, $map in $layout {
      $name: #{$id-outline}-#{$section};
      .#{$name} {
        color: map-get($map, bg);
        background: #fff;
        border: 1px solid map-get($map, bg);
  
        &:hover,
        &:focus {
          color: map-get($map, color);
          background: (map-get($map, bg));
        }
      }
    }
    
    /*link buttons*/
    @each $section, $map in $layout {
      $name: #{$id-link}-#{$section};
      .#{$name} {
        color: map-get($map, bg);
        background: transparent;
        border: none;
  
        &:hover,
        &:focus {
          text-decoration: underline !important;
        }
      }
    }
  
  
    /*button sizes*/
    @each $section, $map in $sizes {
      $name: #{$id}-#{$section};
      .#{$name}{
        font-size: map-get($map, fs);
        padding: map-get($map, pad);
      }
    }
  }
  
  $button-defaults: (
      radius: 5px,
      cursor: pointer,
      ws: nowrap,
      display: inline-block,
      fs: 1rem,
      pad: .5rem 1rem,
      lh: 1.5,
      background: transparent,
      border: transparent
  );
  
  $button-theme: (
      primary: (
          color: $color-light,
          bg: $color-primary,
      ),
      secondary: (
          color: $color-light,
          bg: $color-secondary,
      ),
      success: (
          color: $color-light,
          bg: $color-success
      ),
      danger: (
          color: $color-light,
          bg: $color-danger,
      ),
      warning: (
          color: $color-dark,
          bg: $color-warning
      ),
      info: (
          color: $color-light,
          bg: $color-info
      ),
      dark: (
          color: $color-light,
          bg: $color-dark
      )
  );
  
  $button-sizes: (
      sm: (
          fs: .75rem,
          pad: .4rem .75rem
      ), 
      lg: (
          fs: 1.25rem,
          pad: .5rem 1rem
      )
  );
  
  @include btn-mixin('btn', 'btn-outline', 'btn-link', $button-theme, $button-sizes, $button-defaults);
  