$err-msg-color: #fff;
$err-background: red;
$font-size: 1.5rem;

.msg-container {
    width: 100%;
    border: get-setting(default, border);
    border-radius: get-setting(default, border-radius);
    padding: 10px;
    min-height: 3rem;
    display: inline-grid;
    justify-content: center;
    align-content: center;

    &__error {
        background-color: get-setting(danger, color);
        color: get-setting(light, color);
        font-size: 1.5rem;
    }
}
