<div>
    <div>Completion Checklist:</div>
    <ul class="list">
        <li class="list-item list-item-incomplete">
            <div class="list-item-container">
                <div><input id="list-check1" type="checkbox" /></div>
                <div class="list-item-container-text">Alphabet Review</div>
            </div>
        </li>
        <li class="list-item list-item-incomplete">
            <div class="list-item-container">
                <div><input id="list-check2" type="checkbox" /></div>
                <div class="list-item-container-text">Words with 'at'</div>
            </div>
        </li>
        <li class="list-item list-item-incomplete">
            <div class="list-item-container">
                <div><input id="list-check3" type="checkbox" /></div>
                <div class="list-item-container-text">Words with 'og'</div>
            </div>
        </li>
        <li class="list-item list-item-incomplete">
            <div class="list-item-container">
                <div><input id="list-check4" type="checkbox" /></div>
                <div class="list-item-container-text">Words with 'ug'</div>
            </div>
        </li>
    </ul>
</div>