@import './themes/default';

@import './util/functions';
@import './util/mixins';

@import './base/variables';
@import './base/resets';
@import './base/typography';

@import './components/buttons';
@import './pages/messages';
@import './pages//spelling-review';

.container {
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}


$colors: (
    primary: $color-secondary,//#ffa500,
    light: #fff,
    dark: #000,
    transparent: transparent
  );
  
  :root {
    @each $id, $color in $colors {
      --color-#{$id}: #{$color};
    }
  }