@import './base/variables.scss';
@import './base/resets.scss';
@import './components/buttons.scss';
@import './messages.scss';

.container {
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}
