<nav class="top-nav top-nav-layout">
    <input type="checkbox" id="menustate" class="menu-checkbox">
    <div class="hamburger-menu">
      <div class="hamburger-menu__logo">
        Kids Learning
      </div>
      <label class="hamburger-menu__ctrl" for="menustate" id="menulabel">
        <div id="menuToggle" class="hamburger-menu__ctrl--button">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </label>
    </div>
    <div id="menuContent" class="menu_content no-scrollbar">
      <div class="menu_content__items">
        <ul>
          <li>
            <a href="/spelling" route-link>Spelling</a>
          </li>
          <li>
            <a href="/wordlist" route-link>Sight Words</a>
          </li>
        </ul>
       </div>
    </div>
  </nav>